<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Send message</title>
</head>
<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function(){
        var msgArea = $('#msgArea');
        var user = $('#btnSubmit').data('sender');
        var elementMessage = $('#message');
        var webSocket = new WebSocket("ws://" + window.location.host + "/chat/");

        webSocket.onmessage = function(message) {
            var data = JSON.parse(message.data);
            if (user == data.username){
                msgArea.append('<p><strong> You: </strong>'+ data.message +'</p>');
            }
            else {
                msgArea.append('<p><strong>'+ data.username +': </strong>'+ data.message +'</p>');
            }
        };
        $('#btnSubmit').click(function(e) {
            webSocket.send(elementMessage.val())
        })
    });
</script>
<body>
<div class="chat" id="msgArea">
</div>
<div class="mess">
    <p><input type="text" id="message"/></p>
    <p><input type="submit" value="Отправить сообщение" id="btnSubmit" data-sender="{{ request.user.username }}" /></p>
</div>

</body>
</html>
